/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    .carousel-inner {
        .carousel-item {
            @include background(center, cover);
            height: 685px;
            background-attachment: fixed;
            @include breakpoint(x-normal) {
                height: 500px;
            }
        }
    }
    .banner-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        left: 20px;
        right: 20px;
        .home-logo {
            margin-bottom: 50px;
            a {
                display: inline-block;
                @include breakpoint(x-normal) {
                    max-width: 33%;
                }
            }
        }
        .view-more {
            a {
                color: $color-white;
                font-size: 17px;
                background-image: linear-gradient(to right, #ff6600 0%, #ff6600 50%, #873a08 100%);
                background-repeat: no-repeat;
                background-size: 200% auto;
                min-width: 170px;
                line-height: 2.8;
                display: inline-block;
                border: 1px solid $color-orange;
                border-radius: 40px;
                font-family: $font-family-book;
                text-transform: $text-capitalize;
                letter-spacing: 0.01em;
                @include breakpoint(x-normal) {
                    font-size: 15px;
                }
                &:hover,
                &:focus {
                     background-position: right center;
                }
            }
        }
    }
    .carousel-indicators {
        bottom: 30px;
        li {
            height: 10px;
            width: 10px;
            margin: 0 4px;
            border-radius: 100%;
            background: transparent;
            border: 1px solid $color-white;
            cursor: pointer;
            &.active {
                background: $color-white;
            }
        }
    }
}

/*----- Inner Banner Section -----*/

.inner-banner-wrapper {
    height: 312px;
    @include background(center, cover);
    position: relative;
    @include breakpoint(x-normal) {
        height: 270px;
    }
    @include breakpoint(mobile) {
        height: 215px;
    }
    .container {
        height: 100%;
        position: relative;
    }
    .inner-banner-content {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        text-align: center;
        transform: translateY(-50%);
        h3 {
            color: $color-white;
            font-size: 46px;
            line-height: 1.5;
            font-family: $font-family-book;
            text-transform: $text-uppercase;
            margin-bottom: 0px;
            @include breakpoint(x-normal) {
                font-size: 35px;
                line-height: 1;
            }
            @include breakpoint(mobile) {
                font-size: 25px;
            }
        }
    }
}