/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    .footer-top {
        padding: 40px 0px;
        text-align: center;
        margin: 0 auto;
        background: $color-white;
        .footer-logo {
            margin-bottom: 30px;
            a {
                display: inline-block;
                max-width: 25%;
            }
        }
        .footer-nav {
            margin-bottom: 30px;
            li {
                margin: 0 15px;
                a {
                    color: #000000;
                    font-size: 15px;
                    font-family: $font-family-book;
                    &:hover {
                        color: $color-orange;
                    }
                }
            }
        }
        .social-share {
            li {
                a {
                    display: inline-block;
                    background: $color-orange;
                    height: 35px;
                    width: 35px;
                    border-radius: 100%;
                    color: $color-white;
                    position: relative;
                    font-size: 17px;
                    i {
                        position: absolute;
                        top: 45%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        text-align: center;
                    }
                    &:hover {
                        background: $color-grey;
                        color: $color-white;
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding: 20px 0px;
        background: #333333;
        text-align: center;
        span {
            color: #9f9f9f;
            font-size: 14px;
            font-family: $font-family-light;
            display: inline-block;
            a {
                color: #2ba2cc;
                &:hover {
                    color: $color-white;
                }
            }
            &.powered-by {
                float: right;
            }
        }
    }
}