/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*----- Loader -----*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

#loader{
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    width: 90px;
    height: 90px;
    transform: translateY(-50%);
}

.ouro {
    position: relative;
    display:inline-block;
    height: 70px;
    width: 70px;
    margin: 1em;
    border-radius: 50%;  
    background: none repeat scroll 0 0 #DDDDDD;
    overflow:hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset, 0 0 25px rgba(0,0,255,0.075);
    > span {
        position: absolute;
        height: 100%; width: 50%;
        overflow: hidden;
    }
    &:after {
        content: "";
        position: absolute;
        top: 10px; 
        left: 10px;
        display: block;
        height: 50px; 
        width: 50px;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
}

.left  { 
    left:0;   
    .anim {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

.right { 
    left:50%;
    .anim {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        left: -100%;
        -webkit-transform-origin: 100% 50% 0;
        transform-origin: 100% 50% 0;
    }
}

.anim {
    position: absolute;
    left: 100%; top: 0;
    height: 100%; width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 $color-orange;
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.ouro3 {
    .anim {
       -webkit-animation-delay: 0s;
       -webkit-animation-duration:3s;
       -webkit-animation-timing-function: linear;
       animation-delay: 0s;
       animation-duration:3s;
       animation-timing-function: linear;
    }
}


@keyframes ui-spinner-rotate-right{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(180deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(360deg)}
  100%{transform:rotate(360deg)}
}
@keyframes ui-spinner-rotate-left{
  0%{transform:rotate(0deg)}
  25%{transform:rotate(0deg)}
  50%{transform:rotate(180deg)}
  75%{transform:rotate(180deg)}
  100%{transform:rotate(360deg)}
}

@-webkit-keyframes ui-spinner-rotate-right{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(180deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(360deg)}
  100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes ui-spinner-rotate-left{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(0deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(180deg)}
  100%{-webkit-transform:rotate(360deg)}
}

/*--------------------------------------*/

.relative {
    position: relative;
}

.navbar {
    border: none;
    min-height: 1px;
    margin: 0;
    border-radius: 0px;
    padding: 10px;
    background: $color-white;
    @include breakpoint(ipad) {
        .container {
            padding: 0px;
        }
    }
    @include breakpoint(mobile) {
        padding: 15px;
    }
    @include breakpoint(mobile-s) {
        padding: 10px 15px;
    }
    .navbar-header {
        max-width: 28%;
    }
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar .navbar-nav > li.current-menu-item > a, 
.navbar .navbar-nav > li.current-menu-parent > a {
    color: $color-orange;
}

.navbar {
    .navbar-collapse {
        button {
            height: auto;
            min-width: auto;
            padding: 0px;
            background: none;
            border: none;
            font-size: 16px;
            font-family: $font-family-book;
            text-transform: $text-capitalize;
            img {
                margin-left: 5px;
            }
            &:after {
                vertical-align: middle;
            }
            @include breakpoint(x-normal) {
                font-size: 13px;
            }
        }
    }
    .navbar-brand {
        padding: 0;
        height: auto;
    }
    .navbar-nav {
        display: flex;
        justify-content: space-between;
         >li {
            align-self: center;
            margin: 0 19px; 
            @include breakpoint(ipad) {
                margin:0 10px;
            }
            &:last-child {
                margin-right: 0px;
            }
            @include breakpoint(mobile) {
                margin: 0;
            }
            >a {
                padding: 0;
                color: $color-blue;
                font-family: $font-family-book;
                font-weight: $font-weight-regular;
                font-size: 15px;
                text-transform: $text-capitalize;
                letter-spacing: 0.03em;
                transition: all 0.3s ease-in-out;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                @include breakpoint(mobile) {
                    display: block;
                    margin: 14px 0px;
                }
                &:focus,
                &:hover {
                    color: $color-orange;
                    background-color: transparent;
                }
            }
             &:last-child {
                 a {
                    background-image: linear-gradient(to right, #ff6600 0%, #ff6600 50%, #873a08 100%);
                    background-repeat: no-repeat;
                    background-size: 200% auto;
                    min-width: 130px;
                    border-radius: 50px;
                    line-height: 2.5;
                    text-align: center;
                    color: $color-white;
                     &:hover,
                    &:focus {
                         background-position: right center;
                    }
                 }
             }
             &.current-menu-item {
                 a {
                    &:after {
                        content: "";
                        background: $color-orange;
                        position: absolute;
                        display: block;
                        height: 2px;
                        width: 30px;
                        margin: 5px auto 0;
                        left: 0;
                        right: 0;
                    }
                 }
             }
        }
        .nav-link {
            padding: 0px !important;
        }

    }
}

/*----- Sticky Header -----*/

.fixed-header {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    .nav-top-sec {
        display: none;
    }
}

@include breakpoint(mobile) {
    /*----- Toggle Btn -----*/
    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .navbar,
    .navbar >.container,
    .navbar >.container-fluid {
        display: inherit;
        flex-wrap: inherit;
        justify-content: inherit;
        align-items: inherit;
    }
    .navbar-header .navbar-toggler {
        text-align: right;
        line-height: 1.25em;
        margin: 0 0 0 auto;
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
        background: none;
        min-width: auto;
        height: auto;
    }
    .navbar-toggler .navbar-toggler-icon {
        background: url("../images/menu-button.png") no-repeat;
        background-size: 100%;
        width: 1.5em;
        height: 1.5em;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    header .navbar .navbar-toggler.collapsed .navbar-toggler-icon {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .navbar-toggler .navbar-toggler-icon:focus {
        background: transparent;
        border: none;
    }
    .navbar-toggler:focus,
    .navbar-toggler:hover {
        background: transparent;
        border: none;
    }
    .navbar .navbar-collapse .navbar-nav,
    .navbar .navbar-collapse .navbar-nav > li {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
}