/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

.bg-white {
    background: $color-white;
}

/*-------------------------------------------------------------------
- MAIN SECTIONS
-------------------------------------------------------------------*/

/*----- Common Section -----*/

.section {
    padding: 90px 0px;
    @include breakpoint(x-normal) {
        padding: 60px 0px;
    }
    h3 {
        text-transform: $text-uppercase;
        font-family: $font-family-medium;
        letter-spacing: 1;
        position: relative;
        text-align: center;
        margin-bottom: 60px;
        color: #00365f;
        @include breakpoint(x-normal) {
            margin-bottom: 40px;
        }
        &:after {
            content: "";
            display: block;
            width: 80px;
            height: 2px;
            background: $color-orange;
            text-align: center;
            margin: 10px auto 0px;
        }
    }
    h4 {
        position: relative;
        color: #00365f;
        &:after {
            content: "";
            display: block;
            width: 80px;
            height: 2px;
            background: $color-orange;
            margin: 8px 0 30px;
        }
    }
}

.list-section {
     ul {
        li {
            list-style: none;
            position: relative;
            padding-left: 25px;
            margin-bottom: 10px;
            font-family: $font-family-book;
            font-size: 18px;
            color: $color-black;
            line-height: 2;
            @include breakpoint(x-normal) {
                font-size: 15px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
            &:before {
                content: "\f046";
                font-family: FontAwesome;
                color: $color-orange;
                position: absolute;
                top: 0;
                left: 0;
            }
            ul {
                margin: 10px 0;
                li {
                    font-size: 16px;
                    @include breakpoint(x-normal) {
                        font-size: 14px;
                    }
                    &:before {
                        content: "\f00c";
                    }
                }
            }
        }
    }
}


/*----- Company Profile Section -----*/

.company-profile-sec {
    text-align: center;
    background: $color-white;
    .content-sec {
        max-width: 93%;
        margin: 0 auto;
    }
}

/*----- Our Service Section -----*/

.our-services-sec {
    @include background(center, cover);
    background-attachment: fixed;
    .our-solution-bar {
        ul.top-icons {
            text-align: center;
            margin: 0 auto;
            @include breakpoint(mobile) {
                display: none;
            }
            li {
                position: relative;
                vertical-align: top;
                z-index: 1;
                margin: 0 15px;
                &:before {
                    position: absolute;
                    width: 2px;
                    background: #afaeae;
                    display: inline-block;
                    content: "";
                    top: 10px;
                    z-index: -1;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: 0 auto;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
                span {
                    height: 12px;
                    width: 12px;
                    border-radius: 100%;
                    display: inline-block;
                }
                &:first-child {
                    span {
                        background: #eb5544;
                    }
                    &:before {
                        height: 50px;
                        @include breakpoint(normal) {
                            height: 40px;
                        }
                    }
                }
                &:nth-child(2) {
                    span {
                        background: #1ca7c3;
                    }
                    &:before {
                        height: 52px;
                        @include breakpoint(normal) {
                            height: 56px;
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        background: #8bbc42;
                    }
                    &:before {
                        height: 50px;
                        @include breakpoint(normal) {
                            height: 40px;
                        }
                    }
                }
            }
        }
        ul.bottom-icon-section {
            text-align: center;
            margin: 91px auto 0px;
            position: relative;
            @include breakpoint(normal) {
                margin: 80px auto 0px;
            }
            @include breakpoint(mobile) {
                margin: 35px auto 0px;
            }
            li {
                width: 30%;
                position: relative;
                vertical-align: top;
                @include breakpoint(ipad) {
                    width: 22%;
                }
                @include breakpoint(mobile) {
                    width: 100%;
                    height: 155px;
                }
                @include breakpoint(mobile-s) {
                    margin-bottom: 30px;
                }
                h5 {
                    margin: 15px auto 0;
                    text-transform: $text-uppercase;
                    font-family: $font-family-medium;
                }
                .border-sec {
                    height: 135px;
                    width: 135px;
                    display: inline-block;
                    position: relative;
                    @include breakpoint(mobile) {
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    @include breakpoint(mobile-s) {
                        position: inherit;
                        left: inherit;
                        top: inherit;
                    }
                    img {
                        display: block;
                    }
                    span {
                        height: 95px;
                        width: 95px;
                        border-radius: 100%;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 48%;
                        transform: translateY(-50%);
                        text-align: center;
                        margin: 0 auto;
                        svg {
                            height: 40px;
                            width: 40px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            text-align: center;
                            margin: 0 auto;
                            transform: translateY(-50%);
                            fill: $color-white;
                        }
                    }
                    .img-sec {
                        svg {
                            height: 130px;
                            width: 130px;
                        }
                    }
                }
                &::after {
                    content: "";
                    background: #afaeae;
                    height: 2px;
                    position: absolute;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
                &:first-child {
                    .border-sec {
                        span {
                            background-image: linear-gradient(to right, #ec5a47 0%, #e54436 50%);
                            background-repeat: no-repeat;
                            background-size: 200% auto;
                        }
                    }
                    &:after {
                        width: 301px;
                        top: -55px;
                        left: 166px;
                    }
                    &:before {
                        height: 60px;
                    }
                }
                &:nth-child(2) {
                    .border-sec {
                        span {
                            background-image: linear-gradient(to right, #1eaec7 0%, #168fb2 50%);
                            background-repeat: no-repeat;
                            background-size: 200% auto;
                        }
                    }
                    &:before {
                        height: 60px;
                    }
                }
                &:nth-child(3) {
                    .border-sec {
                        span {
                            background-image: linear-gradient(to right, #9ac54a 0%, #78b138 50%);
                            background-repeat: no-repeat;
                            background-size: 200% auto;
                        }
                    }
                    &:after {
                        width: 301px;
                        top: -55px;
                        right: 166px;
                    }
                    &:before {
                        height: 60px;
                    }
                }
                &:before {
                    content: "";
                    background: #afaeae;
                    width: 2px;
                    position: absolute;
                    text-align: center;
                    margin: 0 auto;
                    z-index: 0;
                    left: 0;
                    right: 0;
                    top: -54px;
                    @include breakpoint(mobile) {
                        display: none;
                    }
                }
            }
        }
    }
}

/*----- Experience Section ------*/

.experience-section-wrap {
    h5 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    ul {
        &.list-sec {
            margin-bottom: 30px;
        }
    }
}

/*----- Our Service Section -----*/

.transaction-advisory-wrap {
    span {
        font-size: 16px;
        color: $color-black;
        font-family: $font-family-book;
        font-style: italic;
    }
}

/*----- About Us Section -----*/

.about-section-wrap {
    &.section {
        padding: 0px;
    }
    .pad-sec {
        padding: 70px 0px;
    }
    .our-value-section {
    @include background(center, cover);
        background-attachment: fixed;
        .row {
            .order {
                order: 1;
                position: relative;
                .content-sec {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    span {
                        font-size: 24px;
                        font-family: $font-family-book;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .working-section {
        ul {
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            strong {
                font-family: $font-family-medium;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

/*----- Staff Profile Section -----*/

.staff-profile-wrap {
    .row {
        margin-bottom: 50px;
        .order {
            order: 1;
        }
        &.pad-right {
            .img-sec-wrap {
                padding-right: 50px;
            }
        }
        &.pad-left {
            margin-bottom: 0px;
            .img-sec-wrap {
                padding-left: 50px;
            }
        }
    }
    .img-sec {
        border: 10px solid $color-white;
        box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1)
    }
}

/*----- Contact Us Section -----*/

.contactus-wrapper {
    .req {
        color: $color-black;
        font-family: $font-family-book;
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 30px;
        display: block;
        @include breakpoint(x-normal) {
            font-size: 17px;
        }
    }
    form {
        button {
            margin-top: 25px;
        }
    }
    .map-wrap {
        height: 265px;
        iframe {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    .map-sec {
        h5 {
            font-size: 20px;
            color: $color-black;
            font-family: $font-family-book;
        }
        .mail {
            font-size: 18px;
            color: $color-black;
            font-family: $font-family-book;
            display: block;
            margin-bottom: 15px;
            &:hover {
                color: $color-orange;
            }
        }
        .address {
            position: relative;
            padding-left: 25px;
            display: inline-block;
            &:before {
                content: "\f041";
                position: absolute;
                top: 0;
                left: 0;
                color: $color-orange;
                font-family: FontAwesome;
            }
        }
        .address,
        .detail-wrap span,
        .detail-wrap a {
            font-size: 16px;
            color: $black;
            font-family: $font-family-book;
        }
        .detail-wrap {
            margin: 20px 0 30px;
            display: flex;
            justify-content: space-between;
            a {
                &:hover {
                    color: $color-orange;
                }
            }
            span, a {
                position: relative;
                padding-left: 25px;
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: $color-orange;
                    font-family: FontAwesome;
                }
                &.user {
                    margin-bottom: 5px;
                    &:before {
                        content:"\f007";
                    }
                }
                &.mail {
                    margin-bottom: 5px;
                    &:before {
                        content: "\f0e0";
                    }
                }
                &.tel {
                    margin-bottom: 5px;
                    &:before {
                        content: "\f095";
                    }
                }
            }
            .detail-sec {
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}

/*----------- Thank You  Page -----------*/

.thank_main_section {
    float: left;
    display: block;
    position: relative;
    text-align: center;
    padding: 0;
    width: 100%;
    margin:0px auto 0;
}
.thank_main_section .tahnk_you_box{
    display: block;
    padding: 140px 0 100px;
    width: 100%;
    @include breakpoint(normal) {
        padding: 150px 0 100px;
    }
     @include breakpoint(mobile) {
        padding: 100px 0 100px;
    }
}
.thank_main_section .tahnk_you_box h1{
    margin-bottom: 50px;
}
.thank_main_section .tahnk_you_box h1 i{
    font-size: 70px;
    line-height: 115px;
    color: #2da725;
    border: 4px solid #2da725;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    width: 120px;
    height: 120px;
    @include breakpoint(normal) {
        height: 100px;
        width: 100px;
        font-size: 50px;
        line-height: 90px;
    }
    @include breakpoint(mobile) {
        height: 70px;
        width: 70px;
        font-size: 30px;
        line-height: 60px;
    }
}
.thank_main_section .tahnk_you_box p{
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #2da725;
    background: rgba(115, 208, 156, 0.4);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    color: #2da725;
    @include breakpoint(normal) {
        font-size: 16px;
    }
}