//  Mixins Sections  //

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin background($background-position, $background-size) {
   background-repeat: no-repeat;
   background-position: $background-position;
   background-size: $background-size;
}

// Media Queries
@mixin breakpoint($point) {
    @if $point==x-large {
        @media only screen and (min-width: 1600px) {
            @content;
        }
    }
    @else if $point==large {
        @media only screen and (max-width: 1599px) {
            @content;
        }
    }
    @else if $point==x-normal {
        @media only screen and (max-width: 1499px) {
            @content;
        }
    }
    @else if $point==normal {
        @media only screen and (max-width: 1199px) {
            @content;
        }
    }
    @else if $point==ipad {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }
    @else if $point==mobile {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==mobile-s {
        @media only screen and (max-width: 479px) {
            @content;
        }
    }
}

////Font Size in EM
//$baseFontEM: $value;
//@function em($pixels, $context: $baseFontEM) {
// @return #{$pixels/$context}em;
//}


$baseFontEM: $value;
@function em($pixels, $context: $baseFontEM) {
    @return #{$pixels/$context}em;
}