/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/

/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/

@font-face {
  font-family: 'GothamBold';
  src:  url('../fonts/gotham-font/GothamBold.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/gotham-font/GothamBold.woff') format('woff'), 
        url('../fonts/gotham-font/GothamBold.ttf')  format('truetype'), 
        url('../fonts/gotham-font/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Light';
  src:  url('../fonts/gotham-font/Gotham-Light.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/gotham-font/Gotham-Light.otf')  format('opentype'),
        url('../fonts/gotham-font/Gotham-Light.woff') format('woff'), 
        url('../fonts/gotham-font/Gotham-Light.ttf')  format('truetype'), 
        url('../fonts/gotham-font/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src:  url('../fonts/gotham-font/Gotham-Medium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/gotham-font/Gotham-Medium.otf')  format('opentype'),
        url('../fonts/gotham-font/Gotham-Medium.woff') format('woff'), 
        url('../fonts/gotham-font/Gotham-Medium.ttf')  format('truetype'), 
        url('../fonts/gotham-font/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/gotham-font/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/gotham-font/Gotham-Book.otf')  format('opentype'),
	   url('../fonts/gotham-font/Gotham-Book.woff') format('woff'), 
       url('../fonts/gotham-font/Gotham-Book.ttf')  format('truetype'), 
       url('../fonts/gotham-font/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css');

body,
html {
    font-family: $font-family-book;
    height: 100%;
    font-size: em($value);
}

body {
    background: #f9f9f9;
}

ul,
ol {
    padding: 0;
    margin-bottom: 0;
}

ol {
    margin-left: 1.1;
}

address {
    margin-bottom: 0;
}

img {
    height: auto;
    max-width: 100%;
}

.center-block {
    float: none;
}

/*---------- Heading ----------*/

h1 {
    font-size: em(100);
    text-transform: $text-capitalize;
    font-weight: $font-weight-regular;
}

h2, h2 a {
    font-size: em(50);
    text-transform: $text-capitalize;
    font-weight: $font-weight-regular;
}

h3, h3 a {
    font-size: em(36);
    text-transform: $text-capitalize;
    font-weight: $font-weight-light;
    letter-spacing: 0.01em;
}

h4, h4 a {
    font-size: em(28);
    color: $color-black;
}

h5, h5 a {
    font-size: em(18);
    font-weight: $font-weight-regular;
}

h6, h6 a {
    font-size: em(16);
}

p {
    font-size: em(14);
    font-family: $font-family-book;
    line-height: 2;
    color: $color-black;
}

span {
    font-family: $font-family-book;
    font-size: 16px;
    font-weight: $font-weight-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: $font-family-book;
    white-space: normal;
    word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption,
    {
    word-break: break-word;
    word-wrap: break-word;
}

/*---------- Form ---------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-family: $font-family-medium;
    padding: 8px 15px;
    border: 1px solid $color-orange;
    transition: all 0.3s ease-in-out 0s;
    text-transform: $text-uppercase;
    display: inline-block;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    border-radius: 50px;
    line-height: 1.8;
    background-image: linear-gradient(to right, #ff6600 0%, #ff6600 50%, #873a08 100%);
    background-repeat: no-repeat;
    background-size: 200% auto;
    min-width: 144px;
    color: $color-white;
}

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    box-shadow: none;
    background-position: right center;
}

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: 0;
}

input[type="text"]#usr {
    text-transform: capitalize !important;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    appearance: checkbox !important;
    border-radius: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
    padding: 2px 15px;
    width: 100%;
    border-radius: 5px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    font-family: $font-family-book;
    color: $black;
    font-size: 15px;
    border: none;
    color: $black;
    box-shadow: 1px 0px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    @include breakpoint(x-normal) {
        padding: 2px 15px;
    }
    @include breakpoint(mobile) {
        font-size: 13px;
    }
}

textarea.form-control {
    padding: 20px;
    resize: none;
    @include breakpoint(x-normal) {
        padding: 15px;
    }
    @include breakpoint(mobile) {
        padding: 8px 15px;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
    height: 45px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: $color-orange;
}

.slick-slide {
    outline: none;
}

.form-control::-webkit-input-placeholder { 
    color:#d6d6d6;
}
.form-control::-moz-placeholder { 
    color:#d6d6d6;
}
.form-control:-ms-input-placeholder { 
    color:#d6d6d6; 
}
input:-moz-placeholder { 
    color:#d6d6d6;
}

select {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: 1px solid #cccccc;
    height: 50px;
    outline: medium none;
    padding: 2px 15px;
    text-indent: 1px;
    text-transform: none;
    width: 100%;
    background: white url("../images/select-arrow.png") no-repeat scroll 97% center;
    color: #d6d6d6;
    border-radius: 3px;
    font-family: $font-family-book;
    font-size: 15px;
    @include breakpoint(x-normal) {
        height: 40px;
    }
    @include breakpoint(mobile) {
        font-size: 13px;
    }
    option {
        color: $black;
        font-size: 15px;
    }
}

select::-ms-expand {
    display: none;
}

label {
    font-size: 15px;
    color: $black;
    font-family: $font-family-book;
}

/*---------- 2.1.3 Links ----------*/

a {
    transition: all 0.5s ease-in-out 0s;
    font-family: $font-family-book;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;    
}

/*---------- 2.2 Table -----------*/

table,
th,
td {
    border: 1px solid #eaeaea;
}

table {
    width: 100%;
}

th,
td {
    padding: 0.4375em;
}

table,
dd,
address {
    margin: 0 0 1.75em;
}
