//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$border-color: #e7e7e7;
$color-orange: #ff6600;
$color-blue: #00365f;
$color-black: #24211e;
$color-grey: #9e9e9e;

//Font Family 
//$font-family: 'GothamBold';
$font-family-bold: 'GothamBold';
$font-family-light: 'Gotham-Light';
$font-family-book: 'Gotham-Book';
$font-family-medium: 'Gotham-Medium';

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;

$value: 16;